:root {
  --white: #ffffff;
  --black: #000000;
  --blur: #89888b;
  --border: #3a3841;
  --bg-pending: #fcd8c9;
  --bg-complete: #c5f1dc;
  --text-pending: #ef5a4a;
  --text-complete: #48ce74;
}

html, body {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5.25rem;
  z-index: 99;
  padding: 0 16px;
  background: var(--white);
}

a {
  text-decoration: none;
}

td {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.ant-input {
  padding: 12px 11px !important;
  border-radius: 4px !important;
}
.ant-picker {
  padding: 12px 11px !important;
  border-radius: 4px !important;
}
.ant-select {
  height: 48px !important;
  border-radius: 4px !important;
}
.ant-input-affix-wrapper .ant-input {
  padding: 8px 0px !important;
  border-radius: 4px !important;
}

.ant-tabs .ant-tabs-tab-btn:hover {
  color: #e35245 !important;
}
.ant-tabs .ant-tabs-tab:hover {
  color: #e35245 !important;
}
.ant-tabs .ant-tabs-tab:active {
  color: #e35245 !important;
}
.ant-tabs .ant-tabs-tab:focus {
  color: #e35245 !important;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #e35245 !important;
}
.ant-tabs .ant-tabs-ink-bar  {
  background-color: #e35245 !important;
}
.ant-select .ant-select-selection-wrap {
  padding: 8px 0px !important;
}
.header-title {
  margin-left: 16px;
}
.ant-table-container {
  border-left: 16px solid #EBEFF6 ;
  border-top: 16px solid #EBEFF6 ;
}
.ant-tabs-nav-list{
  padding-left: 16px;
}
.ant-collapse .ant-collapse-item .ant-collapse-header {
  padding: 0px 0px 16px 0px !important;
  color: #e35245 !important;
  font-weight: bold;
}
.ant-collapse .ant-collapse-content .ant-collapse-content-box {
  padding: 0px !important;
}
.ant-modal-header {
  padding-bottom: 16px !important;
  border-bottom: 1px solid #ddd !important;
}
.ant-modal-footer {
  padding-top: 16px !important;
  border-top: 1px solid #ddd !important;
}
.custom-label {
  white-space: nowrap;
  padding: 0px 4px;
  background: white;
  color: #797D85;
  font-size: 14px;
  font-weight: 400;
  margin-top: -10px;
  margin-left: 10px;
  position: absolute;
  z-index: 1000;
}

.custom-label .required {
  color: #e35245; 
  margin-left: 2px;
}

.custom-label .icon {
  color: #fbe38d;
  font-size: 14px;
  margin-left: 4px;
}
